.userBox{
  background-color: #bdffaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes loading {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.loading div {
  left: 50px;
  top: 25px;
  position: absolute;
  animation: loading linear 1s infinite;
  background: #231f1f;
  width: 3px;
  height: 8px;
  border-radius: 1px / 4px;
  transform-origin: 1px 19px;
}

.loading div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #231f1f;
}

.loading div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #231f1f;
}

.loading div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #231f1f;
}

.loading div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #231f1f;
}

.loading div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #231f1f;
}

.loading div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #231f1f;
}

.loading div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #231f1f;
}

.loading div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #231f1f;
}

.loading div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #231f1f;
}

.loading div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #231f1f;
}

.loading div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #231f1f;
}

.loading div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #231f1f;
}

.loadingSpinner {
  width: 100px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  background: #bdffaa;
}

.loading {
  width: 100%;
  height: 80%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.loading div { box-sizing: content-box; }
